.git
.github
.turbo
.next
**/.next
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
*.tsbuildinfo

.env
.env.*
!.env.example

logs
apps/api/uploads
apps/web/cypress
**/*.test.ts

temp_docx
tool-outputs
*.docx
*.zip
*.jpeg
